.Head{
    height: 15vh;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    
}

.Head1{
    height: 15vh;
    width: 95%;
    /* background: purple; */
    display: flex;
    justify-content: space-between;
    align-items: center
} 

.wrap{
    height: 80%;
    width: 16%;
    /* background: pink; */
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;

    & header {
        font-size: 28px;
        color: black;
    }

    & strong {
        font-size: 17px;
        color: red;
    }
}
.wrapper{
        height: 80%;
        width: 55%;
        /* background: blue; */
        display: flex;
        align-items: center;
        justify-content: space-around;

 & h1 {
                font-size: 18px;
                font-family: "Space Mono", serif;
                font-weight: 100;
                font-style: italic;
                color: black;
                cursor: pointer;
                transition: color 0.1s ease-in-out;
            }
            
 &  h1:hover {
                color: red;
            }
        }


.wrap1{
    height: 80%;
    width: 15%;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: space-around;    
}

.wrap1 svg {
    transition: color 0.1s ease-in-out; 
    cursor: pointer; 
    color: #000;
}

.wrap1 svg:hover {
    color: red;
}
